.xmake/
build/
bin/
*.o
*.obj
*.exe
*.dll
*.dylib
*.so
*.a
*.lib
*.dSYM/
*.pdb
*.idb
*.ilk
*.dmp

imgui.ini
*.log

compile_commands.json

.vscode/
.cache/

.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.idea/

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

pack_code.py